.addBtn {
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    border-radius: 10px 40px 10px 40px;
    box-shadow: 10px 5px 5px rgba(75, 73, 73, 0.418), inset 0 0 9px white;
}