.item {
    margin-top: 2%;
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    flex-direction: row;
    align-items: center;
}
.menuCard {
    width: 80% !important;
}
.menuTitle {
    text-align: center;
}
.ingreBtn {
    width: 60%;
    margin-left: none;
    margin-right: none;
    font-size: 14px;
}
ul {
    list-style-type: none;
}